<a href="#album/{{id}}" class="album-show">
    <img class="img-responsive" src="image/thumb/album/{{icon}}" alt="{{name}}" title="{{name}}">
</a>
<div class="edit-buttons">
    <button type="button" id="btn-edit" class="btn btn-default btn-edit">
        <i class="fa fa-pencil"></i>
    </button>
    <button id="btn-delete" class="btn btn-default btn-delete" type="button">
        <i class="fa fa-times"></i>
    </button>
</div>
<h3>
    <a href="#album/{{id}}" class="album-show">{{name}}</a>
</h3>
<p class="album-descr">{{descr}}</p>