.albums-list {
  margin-top:30px;

  .albums-list-item {
    margin-bottom: 15px;
    .edit-buttons{
      height:10px;
    }
    h3{
      margin:20px 0 10px;
      width:100%;
      height:20px;
    }
    .album-descr{
      width:290px;
      height:50px;
      font-size:13px;
    }
  }
}
